/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  /* ========================= The Below Colors are to Be Changed ============================= */
  /* Primary Colors */
  --color-primary: #635ef7;
  --color-primary-light: #e6e5ff;

  /* Backgrounds */
  --bg-level-wht: #fff;
  --bg-level-1: #f8f8fa;
  --bg-level-2: #f5f5f5;
  --bg-level-3: #efefef;
  --bg-footer: #373660;

  /* Gradient */
  --color-gradient: linear-gradient(to right, #75d7d9, var(--color-primary));

  /* UI Colors */
  --color-red: #ec5b53;
  --color-violet: #918ef5;
  --color-yellow: #feeb9d;
  --color-blue: #2a61db;
  --color-blue-light: #d9e4fc;
  --color-orange: #f99d49;
  --color-rose: #fdcae4;

  /* System Colors */
  --color-error: var(--color-red);
  --color-success: #e5f2d3;

  /* Button background Colors 
   * NOTE: THESE ARE USED. 
   */
  --btn-bg-color: var(--color-blue);
  --btn-hover-color: rgb(121, 118, 247);
  --btn-active-color: rgb(92, 88, 225);
  --btn-visited-color: rgb(92, 88, 225);
  --btn-diabled-color: rgb(177, 174, 245);

  /* ========================= To Be Changed Ends Here ============================= */
  /* Text Colors */
  --primary-text-color: var(--color-primary-light);

  /* Font sizes */
  --text-small-font-size: 2rem;
  --text-medium-font-size: 2.4rem;
  --text-large-font-size: 3rem;

  /* Margins */
  --very-small-margin: 1.2rem;
  --small-margin: 2.4rem;
  --medium-margin: 3.2rem;
  --large-margin: 4.8rem;

  /* Font weights */
  --default-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;
  --bold-font-weight: 700;

  /* Border radii */
  --default-border-radius: 9px;
  --medium-border-radius: 11px;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-variation-settings: "wght" 300 900;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./fonts/RedHatDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-variation-settings: "wght" 300 900;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-violet);
  color: var(--primary-text-color);
}
