.form {
  margin: 0 auto;
  margin: var(--small-margin);

  color: var(--primary-text-color);
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--large-margin);
}

.label {
  font-size: var(--text-small-font-size);
  margin-bottom: var(--very-small-margin);
  font-weight: var(--medium-font-weight);
}

.select,
.input {
  height: 3rem;
  text-align: center;
  border-radius: var(--medium-border-radius);
}

.algo-speed input {
  width: 100%;
  cursor: grab;
}

.algo-speed span {
  font-size: var(--text-small-font-size);
}

.code-bar-toggle-btn {
  color: var(--color-white);
  background-color: var(--btn-bg-color);
  border-radius: var(--default-border-radius);
  border: none;
  cursor: pointer;
  padding: 1.6rem 2.4rem;
}

.code-bar-toggle-btn:hover {
  background-color: var(--btn-hover-color);
}

.code-bar-toggle-btn:active {
  background-color: var(--btn-active-color);
}

.code-bar-toggle-btn:visited {
  background-color: var(--btn-visited-color);
}
